.scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    overflow-y: scroll;
    overflow-x: scroll;
    height: 100vh;
    width:100vw;
    /* background-color: aqua; */
}

.return {
    align-self: center;
    font-family: 'Playfair Display SC', serif;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.hotel-container {
    /* margin-top: 50px; */
    /* align-items: center; */
    text-align: center;
}

.restaurant-container {
    /* margin-top: 50px; */
    /* align-items: center; */
    text-align: center;
}

.mistake-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width:80%;
}