.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #000000;
    height: 10vh;
    font-size: 14px;    
}

.icon-container {
    display: flex;
    height: 70%;
    width:10%;
    /* background-color: aquamarine; */
    justify-content: right;
}

.links-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 75%;
    justify-content: space-around;
    /* background-color: antiquewhite; */
}
.visit-count-container {
    display: flex;
    height: 100%;
    width:15%;
    /* background-color: aquamarine;    */
    justify-content: left;
    align-items: center;
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: large;
    
}

.footer-button {
    background-color: transparent;
    font-family: 'Playfair Display SC', serif;
    font-size: large;
    border: none;
    color: white;
    cursor: pointer;
}